#j-header {
  -webkit-transition: 0s;
  -o-transition: 0s;
  -moz-transition: 0s;
  transition: 0s;
}
.header-bf{
  height: 100px;
	background-color: #000;
	background-image: url("./arquivos/iconos_prebf.png");
  background-repeat: repeat;
	background-size: cover;
}
.logo-prebuenfin-header {
  display: inline-block;
}
.logo-prebuenfin-header img{
  width: 65px;
  margin-left: 20px;
  margin-top: 17px;
  margin-right: 10px;
}
.clock-cont-header {
    display: inline-block;
    margin: 0 auto;
}

.flip-clock-label{
	color: white;
	font-size: 12px;
}
.flip-clock-divider .flip-clock-label{
  right: -44px;
}
.flip-clock-divider.minutes .flip-clock-label {
  right: -50px !important;
}
.flip-clock-divider.seconds .flip-clock-label {
  right: -54px !important;
}

.clock-header{
	width:100%;
  display: -webkit-inline-box !important;
}
.flip-clock-wrapper ul{
  width: 20px;
  height: 30px
}
.flip-clock-wrapper ul li a div div.inn{
  font-size: 24px;
}
.flip-clock-divider{
  width: 10px;
}
.flip-clock-wrapper ul li{
  line-height: 30px;
  height: 100%;
}
.flip-clock-dot{
  left: 2px;
  width: 6px;
  height: 6px;
}
.flip-clock-divider{
  height: 40px;
}
.flip-clock-dot.top {
  top: 10px;
}
.flip-clock-dot.bottom {
  bottom: 10px;
}

.register-cont-header {
    display: inline-block;
    float: right;
    margin: 10px;
}
.textw {
  line-height: initial;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.text-cont-header {
  display: inline-block;
  text-align: center;
}
.inputs-cont-header, .inputW, .switch-field {
  display: inline-block;
}
.inputW input{
	width: 160px;
	text-align: center;
	border-radius: 5px;
  margin-right: 10px;
  margin-left: 5px;
	height: 25px;
	border: none;
}
.switch-field{
	text-align: center;
	}
.switch-title {
    margin-bottom: 5px;
    color: white;
    font-size: 12px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;

}
#switch_right::before{
	width: 1px
	position: relative;
}
.switch-field label {
  display: inline-block;
  width: 100px;
  font-size: 12px;
  font-weight: 600;
  background-color: #FFF;
  border-radius: 5px;
  text-align: center;
  margin: 0 5px;
  padding: 5px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
  border: solid 2px #666666;
}
.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  border-color: #e31d1a;
  text-decoration: underline;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sendReg{
	width: 98%;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  vertical-align: middle;
  padding: 5px;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  border: none;
  background : -moz-linear-gradient(0% 50% 0deg,rgba(204, 18, 29, 0.99) 6.24%,rgba(226, 6, 19, 0.98) 96.84%);
  background : -webkit-linear-gradient(0deg, rgba(204, 18, 29, 0.99) 6.24%, rgba(226, 6, 19, 0.98) 96.84%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0.0624,rgba(204, 18, 29, 0.99) ),color-stop(0.9684,rgba(226, 6, 19, 0.98) ));
  background : -o-linear-gradient(0deg, rgba(204, 18, 29, 0.99) 6.24%, rgba(226, 6, 19, 0.98) 96.84%);
  background : -ms-linear-gradient(0deg, rgba(204, 18, 29, 0.99) 6.24%, rgba(226, 6, 19, 0.98) 96.84%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC121D', endColorstr='#E20613' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(204, 18, 29, 0.99) 6.24%, rgba(226, 6, 19, 0.98) 96.84%);
}

.alert{
	  position: fixed;
    width: 35%;
    top: 10px;
    left: 0;
    right: 0;
    padding: 20px 0;
    z-index: 100;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.alert-warning, .alert-danger{
	background: #de8f8e;
}

.alert-success{
	background: #89de89;
}

.alert-info{
	background: #73a6fd;
}
#modalReg {
  display: none;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder {
   text-align: center;
}

::-moz-placeholder {
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
@media screen and (max-width: 930px){
  .inputW, .switch-field, #commit {
    display: none;
  }
  .sendReg {
    width: 200px;
    font-size: 18px;
    margin-left: 10px;
  }
  #modalReg {
    display: block;
  }
  .register-cont-header {
    margin: 25px 10px;
  }
  .textw {
    vertical-align: top;
  }

}
@media screen and (max-width: 770px){
  .text-cont-header {
    display: block;
  }
  .inputs-cont-header {
    display: block;
  }
  .register-cont-header {
    margin: 5px;
  }
  .textw {
    font-size: 14px;
  }
  .sendReg {
    width: 150px;
    font-size: 14px;
  }
  .logo-prebuenfin-header img {
    width: 50px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
  }
  .flip-clock-label {
      font-size: 10px;
  }
  .flip-clock-divider .flip-clock-label{
    right: -24px;
  }
  .flip-clock-divider.minutes .flip-clock-label {
    right: -30px !important;
  }
  .flip-clock-divider.seconds .flip-clock-label {
    right: -21px !important;
  }

  .flip-clock-wrapper ul{
    width: 10px;
    height: 15px
  }
  .flip-clock-wrapper ul li a div div.inn{
    font-size: 12px;
  }
  .flip-clock-divider{
    height: 20px;
  }
  .flip-clock-wrapper ul {
    margin: 2px;
  }
  .flip-clock-wrapper ul li{
    line-height: 15px;
    height: 100%;
  }
  .flip-clock-dot{
    left: 2px;
    width: 4px;
    height: 4px;
  }
  .flip-clock-dot.top {
    top: 4px;
  }
  .flip-clock-dot.bottom {
    bottom: 4px;
  }
}
/*
@media screen and (max-width: 530px){
	.flip-clock-wrapper ul{
		width: 25px;
    height: 40px
	}
	.flip-clock-wrapper ul li a div div.inn{
		font-size: 30px;
	}
	.flip-clock-divider{
		width: 10px;
	}
	.flip-clock-wrapper ul li{
		line-height: 40px;
		height: 100%;
	}
	.flip-clock-dot{
		left: 2px;
		width: 6px;
		height: 6px;
	}
	.flip-clock-divider{
		height: 50px;
	}
	.clock{
		width: 310px;
		margin: 0 auto;
	}
	.title-bf{
		font-size:36px;
	}
	.ofertasBack{
		padding-top: 0;
	}
	.ofertasCont{
		padding-top: 20px;
	}
	.inputW input{
		width: 92%;
	}
	.switch-field label{
		width: 135px;
	}
	.flip-clock-wrapper ul li a div.up:after{
		top: 35px;
	}
  .flip-clock-label{
    font-size: 16px;
  }
	.flip-clock-divider .flip-clock-label{
		right: -55px;
	}
	.flip-clock-divider.minutes .flip-clock-label {
    right: -62px !important;
  }
  .flip-clock-divider.seconds .flip-clock-label {
    right: -68px !important;
  }
  .thanks-text {
    font-size: 65px !important;
  }
  .thanks-subtext {
    font-size: 30px !important;
  }

}
@media screen and (max-width: 600px) {
	.info-buenfin>div{
		column-count: 1;
		-webkit-column-count:1;
		-moz-column-count:1;
		-o-column-count:1;
	}
}
@media screen and (orientation:portrait) and (min-width: 530px) {
  .logo-prebuenfin{
		padding-top: 20%;
	}
  .logo-prebuenfin img {
    width: 120px;
  }
}
@media screen and (orientation:portrait) and (max-width: 530px) {
  .logo-prebuenfin{
		padding-top: 10%;
	}
  .thanks-text {
    font-size: 65px !important;
  }
  .thanks-subtext {
    font-size: 30px !important;
  }
}
*/
