.j-content .slide-home .slide1-current, .j-content .slide-home .slide-1{
    background: #ffe119;
}
.j-content .slide-home .slide3-current {
    background: #ffe119;
}
.j-content .slide-home .slide2-current {
    background: #ffe119;
}
